

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
	
	/* ---------------------------------
	4. RIGHT SECTION
	--------------------------------- */

	.date-countdown{ width: 100%; }

	h1{ font-size: 4.0em; line-height: 1; }
	h2{ font-size: 3.5em; line-height: 1.1; }
	h3{ font-size: 3.0em; } 

	.right-section .logo img {
		height: 20vh;
		width: 30vw;
	}
}

/* Screens Resolution : 767px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
	
	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

	p{ line-height: 1.4; }

	h1{ font-size: 3.0em; line-height: 1; }
	h2{ font-size: 2.5em; line-height: 1.1; }
	h3{ font-size: 2.0em; }
		
	.right-section .logo img {
		height: 15vh;
		width: 30vw;
	}
	
}

/* Screens Resolution : 479px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 479px) {

	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

	body{ font-size: 12px; }
	

	/* ---------------------------------
	4. REMAINING TIME
	--------------------------------- */

	#normal-countdown .time-sec{ height: 100px; width: 100px; margin: 5%; }
	
	#normal-countdown .time-sec .main-time{ line-height: 80px; }
	
	
	/* ---------------------------------
	4. RIGHT SECTION
	--------------------------------- */

	.right-section{ padding: 0 30px; }
	
	h1{ font-size: 2.8em; line-height: 1; font-weight: 500;}
	h2{ font-size: 2.2em; line-height: 1.1; }
	h3{ font-size: 1.8em; }

	.right-section .logo img {
		height: 15vh;
		width: 40vw;
	}
}

/* Screens Resolution : 359px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 359px) {
	.right-section .logo img {
		height: 15vh;
		width: 40vw;
	}
	
}

/* Screens Resolution : 290px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 290px) {
	
	
}